.debugspacer {
    padding-top: 1000px;
}

/* Left menu */
.left-menu {
    left: 0;
    z-index: 2;
    color : #fff;
    width: 60px;
    height: 100%; /* Safari iOS fix */
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    background-color: #3498DB;
    transition: width .3s;
    -webkit-transition: width .3s;
}

.left-menu > ul > li > a > span {
    display: none;
}

.extended > ul > li > a > span {
    display: inline-block;
    text-decoration: none;
}

.extended {
    width: 200px;
}

.left-menu::-webkit-scrollbar {
    display: none;
}

.left-menu > ul {
    /* Clearfix */
    padding: 0px;
    list-style-type: none;
}

.left-menu-nav-icon {

}

.left-menu > ul > li > a {
    color : #fff;
    margin: 0px;
    width: 100%;
    height: 100%;
    display: block;
    font-size: 24px;
    line-height: 60px;
    transition: background-color .3s;
    white-space: nowrap;
}

.left-menu > ul > li > a:hover {
    color : #fff;
    background-color: #2980B9;
}

.left-menu-nav-icon {
    color : #fff;
    background-color: #5DB9F7;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #ddd;
    color: #ddd;
    text-decoration: none;
    margin: 0px 10px 10px 0;
    transition: all .6s;
    min-width: 100px;
    text-align: center
}
.btn:hover {
    background: #ddd;
    color: #fff;
}
/* Medium Size */
.btn.md{
    padding: 20px 40px
}
/* Big Size */
.btn.lg{
    padding: 24px 48px;
}
/* Border Radius */
.btn.style-1{
    border-radius: 10px;
}
.btn.style-2{
    border-radius: 40px;
}

/* Color 1 #16A085 */
.btn.color-1 {border-color: #16A085;color: #16A085;}
.btn.color-1:hover {background: #16A085;color: #fff;}

/* Color 2 #27AE60 */
.btn.color-2 {border-color: #27AE60;color: #27AE60;}
.btn.color-2:hover {background: #27AE60;color: #fff;}
